@import "vars.scss";

nav.subnav {
  background-color: $lightblue;

  ul.ui.container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    padding: 15px 0;

    li > a {
      color: white;
      padding: 15.5px;
      font-size: 1.8rem;

      &:hover,
      &.active {
        background-color: $darkblue;
      }
    }
  }
}

.calendar {
  h3 {
    display: inline-block;
    width: 250px;

    &:first-child {
      width: 150px;
    }
  }

  .entry p {
    margin: 0;
    display: inline-block;
    width: 250px;

    &:first-child {
      width: 150px;
    }
  }
}
