@import "vars.scss";

.ui.modal {
  input,
  textarea,
  button,
  label,
  select {
    font-size: 1.6rem !important;
  }

  .header {
    font-size: 1.8rem !important;
  }

  .content {
    font-size: 1.6rem !important;
    margin: 0;

    form .field {
      width: 100%;

      img {
        height: 100px;
      }
    }

    .clickable {
      cursor: pointer;
      color: $blue;
      margin: 0;

      &:hover {
        color: $darkblue;
        text-decoration: underline;
      }
    }

    .error.message {
      padding: 10px 15px;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    button {
      font-size: 1.4rem !important;
    }
  }

  .video-flex {
    display: flex;
    align-items: center;

    span {
      font-size: 1.7rem;
      width: 100%;
    }
  }
}
