@import "vars.scss";

header {
  .header-image {
    background-size: cover;
    background-position: center;
    height: 300px;

    .ui.container {
      height: 300px;
      display: flex;
      align-items: flex-end;

      img {
        height: 175px;
        margin-bottom: 20px;
        transition: 0.2s;

        &:hover {
          transition: 0.2s;
          filter: brightness(0.9);
        }
      }
    }
  }

  nav {
    background-color: $blue;

    .hamburger {
      display: none;
      padding: 12px 15px;
      span {
        color: white;
        text-transform: uppercase;

        &:first-child {
          font-size: 2rem;
          padding: 3px 0;
        }
        &:last-child {
          cursor: pointer;
          font-size: 2.5rem;
        }
      }
    }

    ul.ui.container {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;

      li > a {
        color: white;
        padding: 15px;
        font-size: 1.8rem;
        display: block;

        &:hover,
        &.active {
          background-color: $darkblue;
        }
      }

      .ui.dropdown {
        font-size: 1.8rem;
        color: $white;
        border: none;
        background-color: $blue;
        display: block;

        span {
          display: block;
          padding: 15px 15px 15px 15px;
        }

        &.aaaaa,
        &:hover {
          background-color: $darkblue;
        }

        .menu {
          display: flex;
          flex-direction: column;
          background-color: $blue;
          border: none;
          border-radius: 0;

          a {
            font-size: 1.8rem;
            color: $white;
            padding: 10px 20px;

            &:hover {
              background-color: $darkblue;
            }
          }

          &.hidden {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  header .header-image {
    height: 200px;

    .ui.container {
      height: 200px;

      img {
        height: 125px;
        margin-bottom: 10px;
      }
    }
  }

  header nav .hamburger {
    display: flex;
    justify-content: space-between;
  }

  header nav ul.ui.container {
    flex-direction: column;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 0;
    overflow: hidden;

    &.open {
      height: auto;
    }

    .ui.simple.dropdown {
      .menu {
        position: static;
        background-color: $lightblue;
      }

      &:hover {
        .menu {
          width: 0;
          height: 0;
          overflow: hidden;
          opacity: 0;
        }
      }

      &.open {
        .menu {
          width: auto;
          height: auto;
          overflow: visible;
          opacity: 1;
        }
      }
    }
  }
}
