@import "vars.scss";

header {
  .header-image {
    background-image: url("../assets/images/header.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;

    .ui.container {
      height: 300px;
      display: flex;
      align-items: flex-end;

      img {
        height: 175px;
        margin-bottom: 20px;
        transition: 0.2s;

        &:hover {
          transition: 0.2s;
          filter: brightness(0.9);
        }
      }
    }
  }

  nav {
    background-color: $blue;

    ul.ui.container {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      padding: 15px 0;

      li > a {
        color: white;
        padding: 15px;
        font-size: 1.8rem;

        &:hover,
        &.active {
          background-color: $darkblue;
        }
      }

      .ui.dropdown {
        font-size: 1.8rem;
        color: $white;
        padding: 15px;
        border: none;
        background-color: $blue;
        margin: -15px 0;

        &:hover {
          background-color: $darkblue;
        }

        .menu {
          display: flex;
          flex-direction: column;
          background-color: $blue;
          border: none;
          border-radius: 0;

          a {
            font-size: 1.8rem;
            color: $white;
            padding: 10px 20px;

            &:hover {
              background-color: $darkblue;
            }
          }
        }
      }
    }
  }
}
