.player {
  width: 240px;
  margin: 0 40px 40px 0;

  img {
    width: 100%;
    margin-bottom: 0px;
  }

  p {
    font-size: 2.2rem;
    margin-left: 0 !important;
    margin-bottom: 5px;
  }

  span {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1199px) {
  .player {
    width: 190px;
  }
}

@media only screen and (max-width: 991px) {
  .player {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .player {
    width: 42%;
  }
}

@media only screen and (max-width: 576px) {
  .player {
    width: 100%;
    margin: 0 0px 40px 0;
  }
}
