@import "vars.scss";

.dashboard {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    h1 {
      margin-bottom: 0;
      font-size: 2.8rem;
    }

    button {
      font-size: 1.4rem !important;
    }
  }

  .main {
    margin-top: 20px !important;

    h1 {
      font-size: 3rem;
      font-weight: 100;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 5px;
      color: $blue;
    }

    h3 {
      font-size: 1.5rem;
    }

    p {
      margin: 0;
      min-height: 24px;
    }

    input,
    textarea,
    button {
      font-size: 1.4rem !important;
    }

    button.icon span {
      margin-right: 5px;
    }

    > .ui.grid > .four.column {
      padding-right: 0 !important;
      z-index: 1;
    }

    .twelve.column {
      padding-left: 0 !important;
    }

    .tab {
      padding: 2em;
    }

    .no-border {
      border: none !important;
      padding: 0 !important;
    }

    .secondary.menu {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    .dashboard-item {
      margin-bottom: 50px;

      > .dashboard-flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 10px;

        img {
          height: 150px;
          width: auto;
          margin-right: 20px;
          background-color: lightgrey;
        }

        p {
          margin-right: 20px;
        }
      }
    }

    .grid {
      .row {
        padding: 5px 0 !important;
      }

      img {
        background-color: lightgrey;
      }

      .grid-header p {
        font-weight: bold;
      }

      .grid-button {
        display: flex !important;
        justify-content: flex-end;
        align-items: flex-start;
      }
    }

    .scores-grid {
      margin-bottom: 30px;
      .scores-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $blue;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .scores-content {
        margin-bottom: 10px;
        .scores-content-entry {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 10px;

          > div {
            display: flex;

            p {
              margin-right: 10px;
            }
          }

          &:nth-child(odd) {
            background-color: #eeeeee;
          }

          &:nth-child(even) {
            background-color: #dddddd;
          }

          &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }

    .dashboard-photos {
      display: flex;
      flex-wrap: wrap;

      .dashboard-photo {
        width: 140px;
        height: 140px;
        margin: 0 20px 20px 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;

        &:hover .overlay {
          visibility: visible;
        }

        > .overlay {
          visibility: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: rgba($color: red, $alpha: 0.4);

          svg {
            color: white;
            font-size: 6rem;
          }
        }

        > img {
          height: 100%;
        }
      }
    }
  }
}
