@import "vars.scss";

.nieuws.content {
  h2 {
    margin-bottom: 30px;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  a,
  p {
    font-size: 2rem;
    padding: 10px 15px;
    background-color: $blue;
    color: white;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: $darkblue;
      color: white;
    }
  }
}
