@import "vars.scss";

.competitie {
  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      padding: 15px 0;

      li > a {
        color: $blue;
        padding: 15px;
        font-size: 1.8rem;

        &:hover,
        &.active {
          color: $white;
          background-color: $darkblue;
        }
      }
    }
  }

  .players {
    h3 {
      font-size: 3rem;
    }

    > div > div {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }
  }
}
