@import "vars.scss";

.home {
  .welcome {
    background-color: $lightblue;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin-bottom: 90px;

    h1 {
      color: $white;
      font-weight: 100;
      font-size: 6rem;
    }
  }

  .sports {
    margin-bottom: 90px;
    h1 {
      text-align: center;
      font-weight: 100;
      color: $blue;
      font-size: 4.5rem;
      margin-bottom: 30px;
    }

    > div {
      display: flex;
      justify-content: center;

      a {
        margin: 20px;
      }
    }
  }

  .nieuws {
    margin-bottom: 90px;
    h1 {
      text-align: center;
      font-weight: 100;
      color: $blue;
      font-size: 4.5rem;
      margin-bottom: 30px;
    }
  }
}
