@import "vars.scss";

.home {
  .welcome {
    margin-bottom: 30px;

    > div {
      background-color: $lightblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 0;

      h1 {
        color: $white;
        font-weight: 100;
        font-size: 7rem;
        margin-bottom: 50px;
      }

      a {
        background-color: $white;
        color: $blue;
        border: 2px $lightblue solid;
        padding: 15px 30px;
        border-radius: 5px;
        font-size: 2.5rem;
        transition: 0.1s;

        &:hover {
          background-color: $lightblue;
          color: $white;
          border: 2px $white solid;
          transition: 0.1s;
        }
      }
    }

    img {
      width: 100%;
      transform: rotate(180deg) translateY(1px);
    }
  }

  .sports {
    margin-bottom: 90px;
    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    > div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      a {
        margin: 20px;
      }
    }
  }

  .nieuws {
    margin: 0 100px 90px 100px;

    h2 {
      text-align: center;
      margin-bottom: 30px;
    }

    > p {
      margin-bottom: 40px;
      text-align: center;
    }

    .cta {
      width: 100%;
      display: flex;
      justify-content: center;

      a {
        background-color: $blue;
        color: $white;
        padding: 15px 30px;
        border-radius: 5px;
        font-size: 2.5rem;
        transition: 0.1s;

        &:hover {
          background-color: $darkblue;
          transition: 0.1s;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home {
    .welcome {
      img {
        display: none;
      }

      > div {
        padding: 50px 10px;

        h1 {
          font-size: 4rem;
          margin-bottom: 30px;
          text-align: center;
        }

        a {
          padding: 10px 20px;
          font-size: 1.8rem;
        }
      }
    }

    .sports {
      margin-bottom: 50px;
      h2 {
        margin-bottom: 10px;
      }
    }

    .nieuws {
      margin: 0;
    }
  }
}

@media only screen and (max-width: 607px) {
  .home .sports > div {
    a {
      margin: 20px 0;
    }
  }
}
