@import "vars.scss";

.videos {
  > div {
    margin-bottom: 50px;

    h1 {
      font-weight: 100;
      font-size: 3rem;
    }
  }

  .video-thumbnail {
    cursor: pointer;
    width: 560px;
    height: 315px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 560px;
      height: auto;
    }

    svg {
      font-size: 5rem;
      position: absolute;
      color: $blue;
    }

    &:hover {
      svg {
        color: $lightblue;
      }
    }
  }
}

.photo-albums {
  display: flex;
  flex-wrap: wrap;

  .album {
    margin: 20px 60px 60px 0;

    > a:first-child {
      display: block;
      margin-bottom: 20px;
      font-weight: 100;
      font-size: 3rem;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }

    .thumbnail {
      position: relative;
      width: 300px;
      height: 300px;

      a {
        width: 300px;
        height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;

        img {
          height: 100%;
        }

        p {
          font-size: 2rem;
          color: white;
        }
      }

      .backdrop1 {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 300px;
        height: 300px;
        background-color: $lightblue;
      }

      .backdrop2 {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 300px;
        height: 300px;
        background-color: $blue;
      }
    }
  }
}

.photo-album {
  > div {
    display: flex;
    flex-wrap: wrap;

    .photo-thumbnail {
      width: 350px;
      height: 350px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      margin: 0 20px 20px 0;
      cursor: pointer;

      img {
        height: 100%;
      }
    }
  }
}

.album-modal {
  .content {
    margin: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;

    > div {
      width: 33%;

      &:first-child {
        text-align: left;
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:last-child {
        text-align: right;
      }
    }

    svg {
      font-size: 3rem;
      margin: 0 10px;
      cursor: pointer;

      &:hover {
        color: $blue;
      }

      &.hidden {
        visibility: hidden;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .photo-album {
    > div {
      .photo-thumbnail {
        width: 275px;
        height: 275px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .photo-album {
    > div {
      .photo-thumbnail {
        width: 220px;
        height: 220px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .photo-album {
    > div {
      .photo-thumbnail {
        width: 270px;
        height: 270px;
      }
    }
  }

  .album-modal.ui.modal {
    > .actions {
      padding: 1rem !important;
      svg {
        font-size: 2.4rem;
        margin: 0 10px;
        cursor: pointer;

        &:hover {
          color: $blue;
        }

        &.hidden {
          visibility: hidden;
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .videos {
    iframe {
      height: auto;
      width: 100%;
    }
  }
}
