@import "vars.scss";

.news-entry {
  margin-bottom: 50px;
  .date {
    color: $grey;
    display: block;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .title {
    color: $blue;
    display: block;
    font-size: 2.6rem;
    margin-bottom: 10px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $darkblue;
    }
  }

  .body {
    margin-bottom: 15px;
    margin-left: 0;
  }

  a {
    font-size: 1.8rem;
    font-weight: 100;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $darkblue;
    }
  }
}
