@import "vars.scss";

nav.subnav {
  background-color: $lightblue;

  .hamburger {
    display: none;
    padding: 12px 15px;

    span {
      color: white;
      font-size: 2.5rem;
      text-transform: uppercase;

      &:first-child {
        font-size: 2rem;
        padding: 3px 0;
      }

      &:last-child {
        cursor: pointer;
        font-size: 2.5rem;
      }
    }
  }

  ul.ui.container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li > a {
      color: white;
      padding: 15px;
      font-size: 1.8rem;
      display: block;

      &:hover,
      &.active {
        background-color: $darkblue;
      }
    }
  }
}

.sport-header {
  width: 100%;
  height: 250px;
  margin-bottom: 50px;
  position: relative;

  div:first-child {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: 50% 30%;
    filter: brightness(70%);
  }

  div:last-child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: $white;
      font-size: 8rem;
      line-height: 6rem;
      font-weight: 100;
      text-align: center;
    }
  }
}

.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  > div {
    width: 100%;
  }

  img {
    width: 300px;
    height: auto;
  }
}

.calendar {
  th {
    font-size: 2rem;
  }

  td {
    font-size: 1.7rem;
  }

  tr {
    text-align: left;
  }

  th,
  td {
    padding-right: 20px;
    padding-bottom: 5px;
  }

  th:last-child,
  td:last-child {
    padding-right: 0px;
  }
}

.historiek {
  h3 {
    margin-top: 30px;
  }
  p {
    margin-bottom: 5px;
  }
}

.team nav.subsubnav ul.ui.container li:first-child {
  color: $blue;
  padding: 15px;
  font-size: 1.8rem;
}

.competitie,
.team {
  nav.subsubnav {
    .hamburger {
      display: none;
      padding: 12px 15px;
      span {
        text-transform: uppercase;

        &:first-child {
          font-size: 2rem;
          padding: 3px 0;
        }
        &:last-child {
          cursor: pointer;
          font-size: 2.5rem;
        }
      }
    }

    ul.ui.container {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;

      li > a {
        color: $blue;
        padding: 15px;
        font-size: 1.8rem;
        display: block;

        &:hover,
        &.active {
          color: $white;
          background-color: $darkblue;
        }
      }
    }
  }

  .players {
    h3 {
      font-size: 3rem;
    }

    > div > div {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }
  }
}

.results {
  margin-top: 25px;
  margin-bottom: 90px;
  width: 600px;

  .header {
    background-color: $blue;
    width: 100%;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h1 {
      color: white;
      font-size: 3rem;
      font-weight: 100;
      margin-bottom: 5px;
    }

    h2 {
      color: white;
      font-size: 1.7rem;
      margin: 0;
    }
  }

  .subheader.mobile {
    display: none;
  }

  table {
    width: 100%;
    border-spacing: 0;

    tr:nth-child(odd) {
      background-color: #eeeeee;

      td.score {
        background-color: $lightblue;
      }
    }

    tr:nth-child(even) {
      background-color: #dddddd;

      td.score {
        background-color: $lesslightblue;
      }
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 10px;
      }

      td:last-child {
        border-bottom-right-radius: 10px;
      }
    }

    tr.empty {
      td {
        font-size: 2rem;
        padding: 10px 20px;
      }
    }

    td.team {
      font-size: 2rem;
      padding: 10px 20px;
      width: 50%;

      &:last-child {
        text-align: right;
      }
    }

    td.score {
      padding: 15px 20px;
      font-size: 2.4rem;
      color: white;
      white-space: pre;
      width: 10px;
      text-align: center;
    }
  }
}

.standings {
  margin-top: 25px;
  margin-bottom: 90px;
  width: 700px;

  .header {
    background-color: $blue;
    width: 100%;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h1 {
      color: white;
      font-size: 3rem;
      font-weight: 100;
      margin-bottom: 5px;
    }

    h2 {
      color: white;
      font-size: 1.7rem;
      margin: 0;
    }
  }

  .subheader.mobile {
    display: none;
  }

  .subheader {
    background-color: $lightblue;
    display: flex;

    > div {
      width: 50%;
      display: flex;

      p {
        width: 100%;
        margin: 0;
        padding: 5px 10px;
        color: white;
      }
    }
  }

  .entry {
    width: 100%;
    display: flex;

    &:nth-child(odd) {
      background-color: #eeeeee;

      > div:last-child p:nth-child(odd) {
        background-color: #dddddd;
      }

      span {
        background-color: $lightblue;
      }
    }

    &:nth-child(even) {
      background-color: #dddddd;

      > div:last-child p:nth-child(odd) {
        background-color: #cccccc;
      }

      span {
        background-color: $lesslightblue;
      }
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      > div:last-child p:last-child {
        border-bottom-right-radius: 10px;
      }
    }

    > div {
      width: 50%;
      display: flex;
    }

    p {
      font-size: 2rem;
      margin: 0;
      padding: 10px 20px;
      width: 100%;
    }

    span {
      padding: 15px 20px;
      font-size: 2.4rem;
      color: white;
    }
  }
}

@media only screen and (max-width: 991px) {
  nav.subnav ul.ui.container {
    li > a {
      padding: 15px 12px;
    }
  }

  .content-flex {
    img {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  nav.subnav {
    .hamburger {
      display: flex;
      justify-content: space-between;
    }

    ul.ui.container {
      flex-direction: column;
      margin-left: 0 !important;
      margin-right: 0 !important;
      height: 0;
      overflow: hidden;

      &.open {
        height: auto;
      }

      li > a {
        color: white;
        padding: 15px;
        font-size: 1.8rem;
        display: block;

        &:hover,
        &.active {
          background-color: $darkblue;
        }
      }
    }
  }

  .content .sport-header {
    height: 150px;
    margin-bottom: 30px;

    div:first-child {
      height: 150px;
    }

    div:last-child {
      h1 {
        font-size: 6rem;
      }
    }
  }

  .competitie,
  .team {
    nav.subsubnav {
      .hamburger {
        display: flex;
        justify-content: space-between;
      }

      ul.ui.container {
        flex-direction: column;
        margin-left: 0 !important;
        margin-right: 0 !important;
        height: 0;
        overflow: hidden;

        &.open {
          height: auto;
        }
      }
    }
  }

  .calendar {
    tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  .results {
    width: 100%;
  }

  .standings {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .results {
    margin-bottom: 30px;
    .header {
      padding: 10px 15px;
      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }

    .subheader.desktop {
      display: none;
    }

    .subheader.mobile {
      display: flex;
    }

    table {
      td.team {
        font-size: 1.5rem;
        padding: 5px 10px;
      }

      td.score {
        padding: 5px 10px;
        font-size: 1.5rem;
      }
    }
  }

  .standings {
    margin-bottom: 30px;
    .header {
      padding: 5px 10px 10px 10px;
      h1 {
        font-size: 2.5rem;
      }

      h2 {
        font-size: 1.5rem;
      }
    }

    .subheader.desktop {
      display: none;
    }

    .subheader.mobile {
      display: flex;
    }

    .entry {
      p {
        font-size: 1.7rem;
        padding: 5px 10px;
      }
    }
  }
}
