@import "../node_modules/semantic-ui-css/semantic.min.css";
@import "vars.scss";

html {
  font-size: 10px;
}

body,
h1,
h2,
h3 {
  font-family: "TW Cen MT" !important;
}

h2 {
  color: $blue;
  font-weight: 100;
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p,
a {
  font-size: 1.7rem;
}

main {
  min-height: 100vh;
}
